<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="telemetry" value=""/>
    <add key="instrumentationKey" value="0823bae8-a3b8-4fd5-80e5-f7272a2377a9"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>